body {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    background-image: linear-gradient(
      #A9A9A9 10%,
      #C0C0C0 40%,
      #f1f1f1 70%,
      #ffffff 100%
    );
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;  
  }
  
  header {
    color: #1d1616;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px #f1f1f1;
    font-weight: bolder;
    font-size: 48px;
  }
  
  #ryan {
    margin-bottom: 10px;
  }
  
  .sameLine {
    font-size: 20px;
    font-weight: normal;
    padding: 0 20px;
  }
  
  #email {
    float: left;
    text-decoration: none;
  }
  
  #email:link {
    color: #1d1616;
  }
  
  #email:hover {
    color: #696969;
  }
  
  #right {
    float: right;
  }
  
  hr {
    border-color: #1d1616;
    background-color: #1d1616;  
  }
  
  .minwidth {
    min-width: 100px;
    width: auto !important;
    width: 100px;
  }
  
  .containerleft {  
    margin-top: 1em;
  }
  
  #ryanpic {
    width: 30%;
    height: auto;
    float: left;
  }
  
  .subheading {
    margin-top: 0px;
  }
  
  .container {
    text-align: justify;
    float: right;
    width: 65%; 
  }
  