extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | Loc8r was created to help people find places to sit down and get a vit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt excepturi earum, autem optio amet perspiciatis assumenda soluta ullam obcaecati facere similique pariatur quas tenetur debitis quaerat laboriosam dicta eaque numquam!  