extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message

      app-home-list
              
    .col-12.col-md-4
      p.lead= sidebar

block scripts
  script(src='/build/runtime.e227d1a0e31cbccbf8ec.js')
  script(src='/build/polyfills.a4021de53358bb0fec14.js')
  script(src='/build/main.b2bb33e81b4c986b2407.js')